<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>МАШИНЫ</title>
</head>
<body>
    <!--  ${sudaIdi} коллекция наша из контроллера             -->
    <!--  sudaIdiCar : ${sudaIdi} подобие цикла форич            -->
    <!--  th:href="@{/show/{modelCar}.. переход по ссылке           -->
    <!--  th:text="${car.getModel()}.. текст подставляющийся вместо user     -->
    <!--  методы, по которым можно обращаться к car берутся из класса Car.java     -->
    <!--  /{modelCar}(modelCar=${car.getModelCar() динамичеыская страница     -->
    <div th:each="car : ${sudaIdi}">
        <h1 th:text="${sudaIdi}"></h1>
        <a th:href="@{/show/{modelCar}(modelCar=${car.getModelCar()})}" th:text="${car.getModelCar()}">user</a>
    </div>
</body>
</html>