<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHOW</title>
</head>
<body>

    <!--если ошибка в выводе переменной в body, то и весь остальной текст не выводится-->
    <!--<p th:text="${sudaIdiCar.getModelCar()}">VALUE</p>-->
    <!--<p th:text="${sudaIdiCar.price}">VALUE</p>-->
    <!--<p th:text="${modelCar}">VALUE</p>-->
    <!--<div th:each="car : ${sudaIdiCar}">-->
    <!--    <p th:text="${sudaIdiCar.getCategory()}">VALUE</p>--><!--не работает-->
    <!--<p th:text="${modelCar}">VALUE</p>--> <!--работает-->
        <p th:text="${modelCar}">VALUE</p>
        <p th:text="|color1|">VALUE</p>
        <p th:text="${car.getPrice()}">VALUE</p>
    <!--</div>-->

</body>
</html>